{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-heading">
<div class="page-title"> <br>
<div class="row">
  <div class="col-12 col-md-4 order-md-1 order-last">
    <h3>{{new.title}}</h3>
  </div>
  <div class="col-12 col-md-4 order-md-1 order-last">
      <h3>Muallif: {{new.user}}</h3>
    </div>
    <div class="col-12 col-md-4 order-md-1 order-last">
    {% for c in new.category.all %}
      <button type="button" class="btn btn-lg btn btn-primary" style="margin-right: 10px;margin-bottom: 10px;">{{c.name}}</button> 
    {% endfor %}
    </div>
</div> <br>
</div>
<section class="section">
<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            {% if new.photo %}
                                <img src="{{new.photo.url}}" class="d-block w-100" alt="...">
                            {% else %}
                                <img src="{% static 'images/default/1.jpg' %}" alt="foto" class="d-block w-100" >
                            {% endif %}
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-6 col-12">
                    <h5>{{new.body}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock content %}   
{% block js %}
<!--login form Modal -->
<div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel33" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
 role="document">
 <div class="modal-content">
     <div class="modal-header">
         <h4 class="modal-title" id="myModalLabel33">Yanglik qo`shish </h4>
         <button type="button" class="close" data-bs-dismiss="modal"
             aria-label="Close">
             <i data-feather="x"></i>
         </button>
     </div>
     <form  enctype="multipart/form-data" action="{% url 'create_news_url' %}" method="post">
        {% csrf_token %}
         <div class="modal-body">
             <label>Sarlavha </label>
             <div class="form-group">
                 <input type="text" placeholder="yanglik sarlavhasi" class="form-control" name="title" >
             </div>
             <label>Kategoriya</label>
                 <div class="form-group">
                     <select class="choices form-select" multiple="multiple" name="category">
                         {% for c in category %}
                         <option value="{{c.id}}">{{c}}</option>
                         {% endfor %}
                     </select>
                 </div>
             <label>Rasm</label>
             <input class="form-control" type="file" id="formFile" name="photo" >
             <br>
             <div class="form-group with-title mb-3">
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body" ></textarea>
                 <label>Tana qismi</label>
             </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-light-secondary"
                 data-bs-dismiss="modal">
                 <i class="bx bx-x d-block d-sm-none"></i>
                 <span class="d-none d-sm-block">Yopish</span>
             </button>
             <button type="submit" class="btn btn-primary ml-1">
                 <i class="bx bx-check d-block d-sm-none"></i>
                 <span class="d-none d-sm-block">Saqlash</span>
             </button>
         </div>
     </form>
 </div>
</div>
</div>
</div>
</div>
{% endblock js %}