{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'vendors/iconly/bold.css'% }">
<style>
    #newstyle{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    #newstyle i{
        margin-top: -12px;
        margin-left: -8px;
    }
</style>
{% endblock css %}
{% block content %}


    
<div class="page-heading">
<h3>Profile Statistics</h3>
</div>
<div class="page-content">
<section class="row">
<div class="col-12 col-lg-9">
    <div class="row">
        <div class="col-6 col-lg-3 col-md-6">
            <a href="{% url 'active_users_list_url' %}">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon purple" id='newstyle'>
                                <i class="bi bi-person-check-fill"></i>
                            </div>
                            
                        </div>
                            <div class="col-md-8">
                                <h6 class="text-muted font-semibold">Faol xodimlar</h6>
                                <h6 class="font-extrabold mb-0">{{active_user}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-lg-5 col-md-6">
            <a href="{% url 'disactive_users_list_url' %}">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon blue" id='newstyle'>
                                <i class="bi bi-person-dash"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">Kutayotgan xodimlar</h6>
                            <h6 class="font-extrabold mb-0">{{disactive_user}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-6 col-lg-4 col-md-6">
            <a href="{% url 'active_news_url' %}">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon green" id='newstyle'> 
                                <i class="bi bi-file-earmark-check"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">Faol yangiliklar</h6>
                            <h6 class="font-extrabold mb-0">{{active_news}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Profile Visit</h4>
                </div>
                <div class="card-body">
                    <div id="chart-profile-visit"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-lg-3">
    <a href="{% url 'disactive_users_list_url' %}">
    <div class="card">
        <div class="card-body px-3 py-4-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon red" id='newstyle'>
                        <i class="bi bi-file-earmark-excel"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Nofal yangiliklar</h6>
                    <h6 class="font-extrabold mb-0">{{disactive_news}}</h6>
                </div>
            </div>
        </div>
    </div>
    </a>
    <div class="card">
        <div class="card-header">
            <h4>Yangi xodimlar</h4>
        </div>
        <div class="card-content pb-4">
            {% for user in users %}
            <div class="recent-message d-flex px-4 py-3">
                <div class="avatar avatar-lg">
                    <img src="{% static 'images/2.png' %}">
                </div>
                <div class="name ms-4">
                    <h5 class="mb-1">{{user.username}}</h5>
                    <h6 class="text-muted mb-0">@{{user.email}}</h6>
                </div>
            </div>
            {% endfor %}
            <div class="px-4">
                <a class='btn btn-block btn-xl btn-light-primary font-bold mt-3' href="{% url 'active_users_list_url' %}">Batafsil</a>
            </div>
        </div>
    </div>
</div>
</section>
</div>
</div>
</div>

{% for region in regions.satff %}
<h1 style="text-align: center;"> 
    {{region}}
</h1>
{% endfor %}
{% endblock content %}   
{% block js %}
<!--login form Modal -->
<div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel33" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
 role="document">
 <div class="modal-content">
     <div class="modal-header">
         <h4 class="modal-title" id="myModalLabel33">Yanglik qo`shish </h4>
         <button type="button" class="close" data-bs-dismiss="modal"
             aria-label="Close">
             <i data-feather="x"></i>
         </button>
     </div>
     <form  enctype="multipart/form-data" action="{% url 'create_news_url' %}" method="post">
        {% csrf_token %}
         <div class="modal-body">
             <label>Sarlavha </label>
             <div class="form-group">
                 <input type="text" placeholder="yanglik sarlavhasi" class="form-control" name="title" >
             </div>
             <label>Kategoriya</label>
                 <div class="form-group">
                     <select class="choices form-select" multiple="multiple" name="category">
                         {% for c in category %}
                         <option value="{{c.id}}">{{c}}</option>
                         {% endfor %}
                     </select>
                 </div>
             <label>Rasm</label>
             <input class="form-control" type="file" id="formFile" name="photo" >
             <br>
             <div class="form-group with-title mb-3">
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body" ></textarea>
                 <label>Tana qismi</label>
             </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-light-secondary"
                 data-bs-dismiss="modal">
                 <i class="bx bx-x d-block d-sm-none"></i>
                 <span class="d-none d-sm-block">Yopish</span>
             </button>
             <button type="submit" class="btn btn-primary ml-1">
                 <i class="bx bx-check d-block d-sm-none"></i>
                 <span class="d-none d-sm-block">Saqlash</span>
             </button>
         </div>
     </form>
 </div>
</div>
</div>
</div>
</div>
<script src="{% static 'vendors/apexcharts/apexcharts.js' %}"></script>
<script>
    var category = []
    var data = []
</script>

{% for r in regions%}
<script>
category.push('{{r}}') 
</script>
{% endfor  %} 
{% for n in number%}
<script>
data.push(parseInt('{{n}}'))
</script>
{% endfor  %} 
<script>
    console.log("=1=1=1=1==1",data)
    var optionsProfileVisit = {
	annotations: {
		position: 'back'
	},
	dataLabels: {
		enabled:false
	},
	chart: {
		type: 'bar',
		height: 300
	},
	fill: {
		opacity:1
	},
	plotOptions: {
	},
	series: [{
		name: 'sales',
		data: data
	}],
	colors: '#435ebe',
	xaxis: {
		categories: category,
	},
}
var chartProfileVisit = new ApexCharts(document.querySelector("#chart-profile-visit"), optionsProfileVisit);
chartProfileVisit.render();
</script>

{% endblock js %}